<div id="<%= @message.post_type_str + "-" + @message.id %>" data-depth="<%= @message.depth %>" data-type="<%= @message.post_type_str %>" class="<%= @message.moiety.downcase %>">
  <div class="user">
    <div class="usericon">
      <% if @message.face and get_face_path(@message.face) and not get_face_path(@message.face).empty? -%>
        <img src="<%= get_face_path(@message.face).gsub(' ', '%20') %>" />
      <% else -%>
        <div>X</div>
      <% end -%>
    </div>
    <div class="username">
      <% if @message.face and @message.face.keyword and not @message.face.keyword.empty? -%>
        <%= h(@message.face.user_display + ": " + @message.face.keyword) %>
      <% elsif @message.face -%>
        <%= h(@message.face.user_display) %>
      <% else -%>
        Unknown
      <% end -%>
    </div>
  </div>
  <div class="text">
    <div class="content"><%= @message.content %></div>
    <% if @message.edittime -%>
      <div class="edittime timestamp">Edited: <%= h(@message.edittime_display) %></div>
    <% end -%>
    <% if @message.time -%>
      <div class="posttime timestamp"><%= h(@message.time_display) %></div>
    <% end -%>
  </div>
</div>